@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url("/images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 576px) {
  /* Path: app/globals.css */
  #hero {
    background-image: url("/images/mobile/image-hero.jpg");
    background-position: center;
  }
}
